@use '../../styles/utilities/mixins' as m;
@use '../../styles/base/variables' as v;
@use '../../styles/semantic/typography' as t;

.page {
  @include m.page-layout();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  gap: v.$spacing-gap;

  input {
    padding: v.$spacing-sm;
    border-radius: v.$border-radius;
    border: 1px solid #ccc;
    @include t.apply-text-style(t.$text-body);
  }
}

.error {
  color: red;
  margin-bottom: v.$spacing-sm;
  text-align: center;
  @include t.apply-text-style(t.$text-body);
}

.footer {
  text-align: center;
  @include t.apply-text-style(t.$text-caption);

  a {
    @include t.apply-text-style(t.$text-body);

    &:hover {
      text-decoration: underline;
    }
  }
}
