db.sqlite3
venv
venv-windows
venv-linux
__pycache__/
.venv
.env
env.env
env
node_modules/
/frontend/dist/
test-results/
.dockerignore
gunicorn_config.py
backup_file.sql
backup_file.dump
local_backup.dump
Makefile
*.log
logs/
staticfiles/
static/.sass-cache/
celerybeat-schedule
users.json
user_data.json
*.dump
