-r requirements.in

build<2
django-stubs<6
django-stubs-ext<7
djangorestframework-stubs<3.17
freezegun<2
locust
mypy<3
pip-review
pip-tools
pipdeptree
pygraphviz
pre_commit
types-PyYAML
websocket-client
wheel
