alabaster
amqp
asgiref<3.9
astral
attrs
autobahn
Automat
babel
billiard
build
celery
certifi
cffi
cfgv
channels<4.3
channels_redis<4.3
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
cron-descriptor
cryptography
daphne
defusedxml
distlib
dj-database-url
dj-rest-auth
Django<6
django-allauth
django-celery-beat
django-cf-turnstile
django-channels-jwt
django-cors-headers
django-environ
django-extensions
django-filter
django-ratelimit
django-redis
django-stubs
django-stubs-ext
django-timezone-field
django-vite
djangorestframework
djangorestframework_simplejwt
docutils
drf-spectacular
filelock
freezegun
hyperlink
identify
idna
imagesize
incremental
inflection
Jinja2
jsonschema
jsonschema-specifications
kombu
MarkupSafe
msgpack
msgpack-python
mypy
mypy_extensions
nodeenv
numpy
oauthlib
packaging
pathspec
pillow
pip
pip-review
pip-tools
pipdeptree
platformdirs
postgres
pre_commit
prompt_toolkit
psycopg2
psycopg2-binary
psycopg2-pool
pyasn1
pyasn1_modules
pycparser
Pygments
PyJWT
pyOpenSSL
pyproject_hooks
python-crontab
python-dateutil
python-decouple
python-dotenv
python3-openid
PyYAML
redis
referencing
requests
requests-oauthlib
roman-numerals-py
rpds-py
sendgrid
sentry-sdk
service-identity
setuptools
six
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
sqlparse
stripe
tomli
Twisted
txaio
types-PyYAML
typing_extensions
tzdata
uritemplate
urllib3
vine
virtualenv
wcwidth
wheel
whitenoise
zope.interface
