alabaster
amqp
asgiref<3.9
astral
attrs
autobahn
Automat
babel
billiard
build
celery
certifi
cffi
cfgv
channels<4.3
channels_redis<4.3
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
constantly
cron-descriptor
cryptography
daphne
defusedxml
distlib
dj-database-url
dj-rest-auth
Django<6
django-allauth
django-celery-beat
django-cf-turnstile
django-channels-jwt
django-cors-headers
django-environ
django-extensions
django-filter
django-ratelimit
django-redis
django-stubs
django-stubs-ext
django-timezone-field
django-vite
djangorestframework
djangorestframework_simplejwt
docutils
drf-spectacular
filelock
freezegun
hyperlink
identify
idna
imagesize
incremental
inflection
Jinja2
jsonschema
jsonschema-specifications
kombu
MarkupSafe
msgpack
msgpack-python==0.5.6
mypy==1.18.2
mypy_extensions==1.1.0
nodeenv==1.9.1
numpy==2.3.4
oauthlib==3.3.1
packaging==25.0
pathspec==0.12.1
pillow==12.1.1
pip-review==1.3.0
pip-tools==7.5.1
pipdeptree==2.29.0
platformdirs==4.5.0
postgres==4.0
pre_commit==4.3.0
prompt_toolkit==3.0.52
psycopg2==2.9.11
psycopg2-binary==2.9.11
psycopg2-pool==1.2
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==2.23
Pygments==2.19.2
PyJWT==2.10.1
pyOpenSSL==25.3.0
pyproject_hooks==1.2.0
python-crontab==3.3.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.1
python3-openid==3.2.0
PyYAML==6.0.3
redis==6.2.0
referencing==0.37.0
requests==2.32.5
requests-oauthlib==2.0.0
roman-numerals-py==3.1.0
rpds-py==0.28.0
sentry-sdk==2.43.0
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
snowballstemmer==2.2.0
Sphinx==8.2.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.4
stripe<12
tomli==2.3.0
Twisted==24.11.0
txaio==23.1.1
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
virtualenv==20.36.1
wcwidth==0.2.14
wheel==0.46.2
whitenoise==6.11.0
zope.interface==7.2
