amqp
asgiref<3.9
astral
billiard
celery
channels<4.3
channels_redis<4.3
click
click-didyoumean
click-plugins
click-repl
cron-descriptor
cryptography
daphne
defusedxml
dj-database-url
dj-rest-auth
Django<6
django-allauth
django-celery-beat
django-cf-turnstile
django-cors-headers
django-environ
django-extensions
django-filter
django-ratelimit
django-redis
django-timezone-field
django-vite
djangorestframework
djangorestframework_simplejwt
drf-spectacular
jsonschema
kombu
msgpack
numpy
psycopg2
psycopg2-binary
PyJWT
python-dateutil
python-decouple
python-dotenv
python3-openid
PyYAML
redis
requests
sendgrid
sentry-sdk
sqlparse
stripe
Twisted
typing_extensions
tzdata
uritemplate
vine
whitenoise
