@use '../../styles/base/variables' as v;
@use '../../styles/semantic/typography' as t;
@use '../../styles/semantic/colors' as c;
@use '../../styles/tokens/typography' as tt;


.progressBarWrapper {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-gap;
  width: 100%;
  gap: v.$spacing-gap;
  position: relative;
}

.label {
  pointer-events: none;
  @include t.apply-text-style(t.$text-caption)
}

.labelMeasure {
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  pointer-events: none;
  height: auto;
  width: auto;
  overflow: hidden;
  @include t.apply-text-style(t.$text-body);
}

.progressTrack {
  width: 100%;
  height: v.$spacing-lg;
  background-color: c.$color-bg;
  overflow: hidden;
  position: relative;

  border-radius: v.$border-radius;
  border: 1px solid rgba(c.$color-border-primary, 0.8);;
}

.progressBarFill {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: width 0.3s ease;
  border-radius: v.$border-radius;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: v.$border-radius;
  border-bottom-right-radius: v.$border-radius;
  white-space: nowrap;
  //padding: 0 0.5rem;
}

.labelInside {
  @include c.apply-text-tone(inverted);
  @include t.apply-text-style(t.$text-body);
}

.labelOutside {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
  pointer-events: none;
  z-index: 1;
  @include t.apply-text-style(t.$text-body);

}

.default {
  background-color: c.$color-progress-bar;
}

.warning {
  background-color: c.$color-warning;
}

.danger {
  background-color: c.$color-error;
}

.paused {
  opacity: 0.5;
}
