@use './variables' as v;
@use '../utilities/mixins' as m;
@use '../tokens/typography' as t;
@use '../semantic/typography' as ts;
@use '../semantic/colors' as c;
@use 'sass:map';


html, body {
  width: 100%;
  height: 100%;
  background: c.$color-bg;
  font-family: map.get(t.$font-family, base);
  font-size: 16px;
  font-weight: map.get(t.$font-weight, regular);
  line-height: map.get(t.$line-height, base);

}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 260px;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  > main {
    flex: 1;
  }
}


h1 {
  @include ts.apply-text-style(ts.$text-heading-1);
  @include c.apply-text-tone(map.get(c.$text-tone, heading));
}

h2 {
  @include ts.apply-text-style(ts.$text-heading-2);
  @include c.apply-text-tone(map.get(c.$text-tone, heading));
}

h3 {
  @include ts.apply-text-style(ts.$text-heading-3);
  @include c.apply-text-tone(map.get(c.$text-tone, heading));
}

p {
  @include ts.apply-text-style(ts.$text-body);
  @include c.apply-text-tone(map.get(c.$text-tone, default));
}


a {
  @include ts.apply-text-style(ts.$text-body);
  @include c.apply-text-tone(map.get(c.$text-tone, primary));
}
