@use '../../styles/base/variables' as v;
@use '../../styles/utilities/mixins' as m;
@use '../../styles/semantic/typography' as t;
@use '../../styles/semantic/colors' as c;
@use 'sass:map';

.header {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: v.$spacing-sm v.$spacing-md;
  width: 100%;
  max-width: 100%;
  background: c.$color-bg;
}

.leftLinks,
.rightLinks {
  display: none;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
  gap: v.$spacing-md;
  margin: 0 v.$spacing-sm;
  @include t.apply-text-style(t.$text-heading-2);
}

.leftLinks {
  justify-content: flex-start;
}

.rightLinks {
  justify-content: flex-end;
}

.navLink {
    @include t.apply-text-style(t.$text-link);
    @include c.apply-text-tone(map.get(c.$text-tone, invert));
}

//.account {
  // Reserved for future use (icons, dropdowns, etc.)
//}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: v.$spacing-md;
  width: 100%;
  max-width: 100%;

  a {
    display: flex;
    align-items: center;

    .icon {
      width: 36px;
      min-width: 36px;
      height: 36px;
      background-size: cover;
      background-repeat: no-repeat;
      display: inline-block;
      align-items: center;
    }
  }
}

@include m.respond-to(sm) {
  .leftLinks,
  .rightLinks {
    display: flex;
  }

  .icons {
    display: none;
  }
}

.menuButton {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem; // adjust as needed

  &:hover .bar {
    background-color: var(--primary-500);
  }
}

.bar {
  width: 22px;
  height: 3px;
  background-color: var(--text-900);
  border-radius: 3px;
}


.menuIcon {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menuIcon span {
  display: block;
  width: 22px;
  height: 3px;
  background: var(--text-900, #000); // fallback if variables missing
  border-radius: 3px;
}
