@use '../../styles/utilities/mixins' as m;
@use '../../styles/base/variables' as v;
@use '../../styles/semantic/typography' as t;
@use '../../styles/semantic/colors' as c;
@use '../../styles/base/a11y' as a;
@use 'sass:map';

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-gap;
  width: 100%;
  max-width: 30rem;

  @include m.respond-to(sm) {
    max-width: 100%;
  }
}

.label {
  //@include a.visually-hidden;
  @include t.apply-text-style(t.$text-label)
}

.required {
  //color: red;
  margin-left: v.$spacing-xs;
}

.inputField {
  padding: v.$padding-base;
  box-sizing: border-box;
  max-width: 30rem;
  @include m.border-interactive(
    rgba(c.$color-border-primary, 0.4),
    c.$color-border-primary,
    c.$color-border-accent
  );
  border-radius: v.$border-radius;
  transition: border 0.2s, background 0.2s;
  @include t.apply-text-style(t.$text-body);

  &:focus {
    outline: none;
    border-color: c.$color-border-primary;
    background-color: c.$color-bg;
    border-radius: v.$border-radius;
  }

  @include m.focus-outline(c.$color-border-accent);

  &.inputError {
    border-color: c.$color-border-error;
    background-color: c.$color-bg;
  }

  &:disabled {
    background-color: c.$color-bg;
    cursor: not-allowed;
  }
}

.helpText {
  @include t.apply-text-style(t.$text-caption);

}

.errorText {
  @include c.apply-text-tone(map.get(c.$text-tone, error));
  @include t.apply-text-style(t.$text-caption);
}
