@use '../../styles/utilities/mixins' as m;
@use '../../styles/base/variables' as v;
@use '../../styles/semantic/typography' as t;
@use '../../styles/semantic/colors' as c;
@use '../../styles/base/a11y' as a;
@use 'sass:map';

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: v.$spacing-gap;
  width: 100%;
  max-width: 30rem;

  @include m.respond-to(sm) {
    max-width: 100%;
  }
}

.label {
  //@include a.visually-hidden;
  @include t.apply-text-style(t.$text-label)
}

.required {
  //color: red;
  margin-left: v.$spacing-xs;
}

.inputField {
  padding: v.$padding-base;
  box-sizing: border-box;
  max-width: 30rem;
  @include m.border-interactive(
    rgba(c.$color-border-primary, 0.4),
    c.$color-border-primary,
    c.$color-border-accent
  );
  border-radius: v.$border-radius;
  transition: border 0.2s, background 0.2s;
  @include t.apply-text-style(t.$text-body);

  &:focus {
    outline: none;
    border-color: c.$color-border-primary;
    background-color: c.$color-bg;
    border-radius: v.$border-radius;
  }

  @include m.focus-outline(c.$color-border-accent);

  &.inputError {
    border-color: c.$color-border-error;
    background-color: c.$color-bg;
  }

  &:disabled {
    background-color: c.$color-bg;
    cursor: not-allowed;
  }
}

.passwordWrapper {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 30rem;

  @include m.respond-to(sm) {
    max-width: 100%;
  }
}

.inputPassword {
  width: 100%;
  max-width: 100%;
  padding-right: 2.75rem;
}

.passwordToggle {
  position: absolute;
  right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  background: none;
  border: none;
  cursor: pointer;
  color: c.$color-border-primary;
  border-radius: v.$border-radius;
  transition: color 0.2s;

  &:hover {
    color: c.$color-border-accent;
  }

  @include m.focus-outline(c.$color-border-accent);

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.helpText {
  @include t.apply-text-style(t.$text-caption);

}

.errorText {
  @include c.apply-text-tone(map.get(c.$text-tone, error));
  @include t.apply-text-style(t.$text-caption);
}
