@use '../../styles/semantic/typography' as t;
@use '../../styles/base/variables' as v;
@use '../../styles/utilities/mixins' as m;

.page {
  @include m.page-layout();
}

.header {
  text-align: center;

  h1 {
    @include t.apply-text-style(t.$text-heading-1);
    margin-bottom: v.$spacing-sm;
  }

  p {
    margin-bottom: v.$spacing-lg;
    @include t.apply-text-style(t.$text-body);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: v.$spacing-gap;
  width: 100%;
}
