@use '../../styles/semantic/typography' as t;
@use '../../styles/base/variables' as v;

.home-page {
  text-align: center;
  margin-top: 10%;
  padding: v.$padding-lg;

  h1 {
    @include t.apply-text-style(t.$text-heading-1);
    margin-bottom: v.$spacing-sm;
  }

  p {
    margin-bottom: v.$spacing-lg;
    @include t.apply-text-style(t.$text-body);
  }
}
