// components/Modal/Modal.module.scss
@use '../../styles/base/variables' as v;
@use '../../styles/semantic/colors' as c;
@use '../../layout/two-columns' as tc;
@use 'sass:map';
@use '../../styles/utilities/mixins' as m;


.modalBackdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: v.$z-index-modal;
}

.modal {
  display: flex;
  flex-direction: column;
  background: c.$color-bg;

  width: 90%;
  max-width: 95vw;
  max-height: 90vh;
  min-height: 60vh;
  border-radius: v.$border-radius;
  overflow: hidden;
  box-shadow: 0 v.$spacing-sm v.$spacing-md rgba(0,0,0,0.2);

  gap: v.$spacing-gap;
  padding: v.$padding-base;


	@include m.respond-to(sm) {
		min-height: 70vh;
	}

	@include m.respond-to(xl) {
		min-height: 40vh;
    max-width: 1400px;
	}
}

.modalContent {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  overflow: hidden;
  height: 100%;
  @include tc.two-column-layout;
}

.modalHeader {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
}

.closeButton {
  position: absolute;
  right: 0rem;
  top: 0;
}
