{% load i18n %}
<h1>Welcome to Progress RPG!</h1>

<p>Thank you for signing up to Progress RPG! We are excited to have you as part of our community.</p>

<p>
  <p>{% blocktrans %}Please confirm your email address by clicking the link below:{% endblocktrans %}</p>
  <a href="{{ activate_url }}">
    Confirm your email address
  </a>
</p>

<p>We recommend you complete your profile to get started with all the features available to you!</p>

<p>Best regards,</p>
<p>The Team</p>

<p>© 2025 Progress RPG. All rights reserved.</p>


<p>{% blocktrans %}If you didn't request this, please ignore this email.{% endblocktrans %}</p>
