@use 'sass:map';
@use '../base/variables' as v;

// Media query mixin for responsive breakpoints
@mixin respond-to($breakpoint) {
  $value: map.get(v.$breakpoints, $breakpoint);

  @if value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "No value found for breakpoint `#{$breakpoint}`.";
  }
}

@mixin apply-text-style($style) {
  $base: map.get($style, base);

  @if $base {
    @each $prop, $value in $base {
      #{$prop}: #{$value};
    }
  }

  // Responsive layers
  @each $breakpoint, $settings in $style {
    @if $breakpoint != base {
      @include respond-to($breakpoint) {
        @each $prop, $value in $settings {
          #{$prop}: #{$value};
        }
      }
    }
  }
}


@mixin a11y-focus {
  &:focus-visible {
    outline: 2px solid v.$color-accent;
    outline-offset: 2px;
  }
}

@mixin page-layout($max-small: 576px, $max-big: 1400px) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: v.$padding-base;

  > * {
    width: 100%;
    max-width: $max-big;

    @include respond-to(small) {
      max-width: $max-small;
    }
  }
}
