@use '../../styles/base/variables' as v;
@use '../../styles/utilities/mixins' as m;
@use '../../styles/semantic/typography' as t;
@use '../../styles/semantic/colors' as c;

.listSection {
  //padding: v.$spacing-xs 0;
  gap: v.$spacing-gap;
  align-self: stretch;
  display: flex;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  //gap: v.$spacing-xs;
  width: 100%;
  list-style: none;
}

.list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: v.$spacing-sm;
  width: 100%;
  padding: v.$padding-base;
  border: 1px solid rgba(c.$color-border-primary, 0.2);
  border-radius: v.$border-radius;
  background: rgba(c.$color-bg, 0.4);
  transition: background 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  position: relative;

  @include t.apply-text-style(t.$text-body);
  @include c.apply-list-variant(default, false);

  &.hidden {
    display: none !important;
  }

  &.selected {
    @include c.apply-list-variant(default, true);
  }

  &:hover {
    background: rgba(c.$color-border-primary, 0.06);
    border-color: rgba(c.$color-border-primary, 0.5);
    box-shadow:
      0px 2px 4px rgba(0, 0, 0, 0.1),
      inset 0px 0px 0px 1px rgba(c.$color-border-primary, 0.2);
    z-index: 1;
  }
}

li:hover {
  cursor: default;

}

.selectable li:hover {
  cursor: pointer;
}
