@use '../../../../styles/base/variables' as v;
@use '../../../two-columns' as tc;
@use '../../../../styles/semantic/typography' as t;
@use '../../../../styles/semantic/colors' as c;
@use '../../../../styles/utilities/mixins' as m;

.questDetail {
  padding: v.$padding-base;
  display: flex;
  flex-direction: column;
  @include tc.section-box;
}

.durationSelector {
  margin-top: v.$spacing-md;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: v.$spacing-gap;
  //max-width: 16rem;
  width: 100%;
}

label {
  @include t.apply-text-style(t.$text-label);
}

select {
  //appearance: none;
  width: 50%;
  min-width: 5rem;
  padding: v.$spacing-xs v.$spacing-xs;

  @include m.border-interactive(
    c.$color-border-light,
    c.$color-border-accent,
    c.$color-border-accent
  );
  border-radius: v.$border-radius;
  cursor: pointer;

  @include t.apply-text-style(t.$text-body);

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px c.$color-border-accent;
  }
}

.placeholder {
  @include t.apply-text-style(t.$text-body);
}

/*

// Optional dropdown arrow
.durationSelector::after {
  content: "▼";
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.75rem;
  color: black;
  pointer-events: none;
}
 */
